th{
    border: 2px solid rgb(243, 238, 238);
    background-color: black;
    color: white;
}
td{
    border: 2px solid rgb(243, 238, 238); 
    background-color: rgb(101, 101, 101);
    color: white;
    text-decoration: solid;
}
td:hover{
    background-color: black;
    color: white;
}
table{
    text-align: center;
    margin-left: 10%;
    margin-right: 25%;
    width: 80%;
    border-radius: 10%;
}